
#bo {
	background: black important!;
}

.wrapper {
    width: 65%;
    height: 80%;
    background: rgb(40, 40, 40);
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288); 
    margin: auto;
    border-radius: 10px;
    
}

