<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/setting.css}" rel="stylesheet" />
	<link th:href="@{/css/plugin.css}" rel="stylesheet" />
	<link th:href="@{/css/template.css}" rel="stylesheet" />
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <!-- [S]opilsol-N3 -->
  <footer class="opilsol-N3" data-bid="CMLRUKy5pG">
    <div class="pc-footer">
      <div class="footer-wrapper">
        <div class="footer-container">
          <ul class="footer-menulist">
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>이용약관</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>개인정보처리방침</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>푸터메뉴1</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>푸터메뉴2</span>
              </a>
            </li>
          </ul>
          <ul class="footer-snslist">
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
				<img th:src="@{/icons/ico_instagram_lightgrey.svg}" alt="인스타그램">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
				<img th:src="@{/icons/ico_youtube_lightgrey.svg}" alt="유튜브">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
				<img th:src="@{/icons/ico_facebook_lightgrey.svg}" alt="페이스북">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
				<img th:src="@{/icons/ico_kakao_lightgrey.svg}" alt="카카오톡">  
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-wrapper">
        <div class="footer-container">
          <div class="footer-left">
            <h1 class="footer-logo">
              <a href="javascript:void(0)">
				<img th:src="@{/images/img_logo_footer.png}" alt="로고"> 
              </a>
            </h1>
            <div class="footer-txtgroup">
              <div class="footer-txt">
                <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
                <p>
                  <span>T. 070-8872-8874</span>
                  <span>E. help@openfield.co.kr</span>
                </p>
              </div>
              <div class="footer-txt">
                <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
              </div>
            </div>
          </div>
          <div class="selectset selectset-sm">
            <button class="selectset-toggle btn" type="button">
              <span>Family Site</span>
            </button>
            <ul class="selectset-list">
              <li class="selectset-item">
                <button class="selectset-link btn" type="button" data-value="Family Site">
                  <span>Family Site</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-footer">
      <div class="footer-wrapper">
        <div class="footer-container container-md">
          <div class="footer-left">
            <h1 class="footer-logo">
              <a href="javascript:void(0)">
				<img th:src="@{/images/img_logo_footer.png}" alt="로고">
              </a>
            </h1>
            <div class="footer-content">
              <ul class="footer-menulist">
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>이용약관</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>개인정보처리방침</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>푸터메뉴1</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>푸터메뉴2</span>
                  </a>
                </li>
              </ul>
              <div class="footer-txtgroup">
                <div class="footer-txt">
                  <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
                  <p>
                    <span>T. 070-8872-8874</span>
                    <span>E. help@openfield.co.kr</span>
                  </p>
                </div>
                <div class="footer-txt">
                  <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-right">
            <ul class="footer-snslist">
	            <li class="footer-snsitem">
	              <a class="footer-snslink" href="javascript:void(0)">
					<img th:src="@{/icons/ico_instagram_lightgrey.svg}" alt="인스타그램">
	              </a>
	            </li>
	            <li class="footer-snsitem">
	              <a class="footer-snslink" href="javascript:void(0)">
					<img th:src="@{/icons/ico_youtube_lightgrey.svg}" alt="유튜브">
	              </a>
	            </li>
	            <li class="footer-snsitem">
	              <a class="footer-snslink" href="javascript:void(0)">
					<img th:src="@{/icons/ico_facebook_lightgrey.svg}" alt="페이스북">
	              </a>
	            </li>
	            <li class="footer-snsitem">
	              <a class="footer-snslink" href="javascript:void(0)">
					<img th:src="@{/icons/ico_kakao_lightgrey.svg}" alt="카카오톡">  
	              </a>
	            </li>
	          </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script th:src="@{/js/setting.js}"></script>
  <script th:src="@{/js/plugin.js}"></script>
  <script th:src="@{/js/template.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <script th:src="@{/js/4038.a1d16b77.chunk.js}"></script>
  <script th:src="@{/js/python.js}"></script>
</body>
</html>
