<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
<div class="main-banner" id="top">

    <div id="main" class="mt-5">
        <div class="row offset-4 col-4">
            <div class="card card-body bg-light col-2 text-start">
                <span style="font-size: small; font-weight: bold" >기본정보</span>
            </div>
        </div>

        <div class="card card-body bg-light offset-4 col-4">
            <div class="form offset-1 col-10">
                <form name="delfrm" id="delfrm">
                    <div class="mb-3">
                        <div class="row mb-3 mt-3 align-items-center">
                            <label for="uid" class="form-label">아이디 <i class="fa-solid fa-star-of-life" style="color:dodgerblue"> </i></label>
                            <div class="col-8">
                                <input type="text" name="userid" id="uid" th:value="${session.member.userid}"
                                       class="form-control col-12" readonly>
                            </div>
                        </div> <!-- ID -->

                        <div class="row mb-3 align-items-center">
                            <label class="form-label">비밀번호 <i class="fa-solid fa-star-of-life" style="color:dodgerblue"></i></label>
                            <div class="col-8">
                                <input type="password" name="passwd" id="pwd" class="form-control col-12">
                            </div>
                            <div>
                                <span id="pwdmsg">(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10~16자)</span>
                            </div>
                        </div> <!-- Password -->

                        <div class="row mb-3 align-items-center">
                            <label for="repasswd" class="form-label">
                                비밀번호 확인 <i class="fa-solid fa-star-of-life" style="color:dodgerblue"></i></label>
                            <div class="col-8">
                                <input type="password" name="repasswd" id="repasswd" class="form-control col-12">
                            </div>
                        </div> <!-- Password confirm -->

                        <div class="row">
                            <label class="form-label">이름 <i class="fa-solid fa-star-of-life" style="color:dodgerblue"></i></label>
                            <div class="col-8">
                                <input type="text" name="username" id="username" th:value="${session.member.username}"
                                       class="form-control col-12" readonly>
                            </div>
                        </div> <!-- Name -->

                        <div class="row mt-3">
                            <label for="phone1" class="col-3 col-form-label ">
                                휴대전화 <i class="fa-solid fa-star-of-life" style="color:dodgerblue"></i></label>
                            <div class="col-3">
                                <select name="phone1" id="phone1" class="form-select"
                                        th:value="${#strings.arraySplit(session.member.phone,'-')[0]}">
                                    <option>010</option>
                                    <option>011</option>
                                    <option>016</option>
                                    <option>017</option>
                                    <option>018</option>
                                    <option>019</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <input type="text" name="phone2" id="phone2"
                                       class="form-control" th:value="${#strings.arraySplit(session.member.phone,'-')[1]}">
                            </div>
                            <div class="col-3">
                                <input type="text" name="phone3" id="phone3" class="form-control"
                                       th:value="${#strings.arraySplit(session.member.phone,'-')[2]}">
                            </div>
                        </div><!-- Mobile -->

                        <div class="row mb-3 mt-3 d-flex">
                            <label for="email1" class="col-3 col-form-label">이메일
                                <i class="fa-solid fa-star-of-life" style="color:dodgerblue"></i></label>
                            <div class="col-8 d-flex">
                                <input type="text" id="email1" name="email1"
                                       th:value="${#strings.arraySplit(session.member.email,'@')[0]}" class="form-control">
                                <span class="input-group-text border-dark bg-dark bg-opacity-10">@</span>
                                <input type="text" id="email2" name="email2"
                                       th:value="${#strings.arraySplit(session.member.email,'@')[1]}"class="form-control">
                            </div>
                        </div>
                    </div> <!-- email -->

                    <div class="row mb-3 d-flex">
                        <label for="zip" class="col-2 col-form-label text-start">
                            주소 <i class="fa-solid fa-star-of-life" style="color:dodgerblue"></i></label>
                        <div class="col-8 d-flex">
                            <input type="text" name="zipcode" id="zip"
                                   th:value="${session.member.zipcode}" class="form-control" readonly>
                            <button type="button" id="zipbtn" class="btn btn-outline-info input-group-text">주소검색</button>
                        </div>
                    </div><!-- zipcode -->

                    <div class="row mb-3 d-flex">
                        <label class="col-2 col-form-label text-end">&nbsp;</label>

                        <div class="d-block col-6">
                            <div class="col-12 mb-3">
                                <input type="text" name="addr1" id="addr1"
                                       th:value="${session.member.addr1}" class="form-control"></div> <!-- addr1 -->
                            <div class="col-12">
                                <input type="text" name="addr2" id="addr2"
                                       th:value="${session.member.addr2}" class="form-control" ></div> <!-- addr2 -->
                        </div>
                    </div><!-- address -->


                    <input type="hidden" name="zipcode" id="zipcode">
                    <input type="hidden" name="email" id="email">
                    <input type="hidden" name="phone" id="phone">
                    <input type="hidden" name="checkuid" id="checkuid">

                    <div class="text-center">
                        <button type="button" class="btn btn-dark" id="modbtn">회원정보 수정</button>
                        <button type="button" class="btn btn-dark" id="delbtn">회원탈퇴</button>
                        <a class="btn btn-light border-dark" href="/index" role="button">취소</a>
                    </div> <!-- button -->
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade modal-lg" id="zipmodal"
         data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title">우편번호 찾기</h3>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form name="zipfrm" id="zipfrm">
                        <div class="row align-items-center justify-content-center">
                            <label class="col-3 form-label text-end" for="dong">
                                검색하실 주소의<br> 동이름을 입력하세요</label>
                            <div class="col-4">
                                <input type="text" name="dong" id="dong"
                                       class="form-control border-primary">
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-primary" id="findzipbtn">
                                    <i class="fas fa-search"></i> 검색하기</button>
                            </div>
                            <hr class="w-75 mx-auto my-3">
                            <p class="col-12 text-warning text-center">
                                지역의 읍/면/동의 이름을 공백없이 입력하신 후,
                                [검색하기] 버튼을 클릭하세요
                            </p>
                        </div><!-- find zip-->
                        <div class="row">
                            <div class="col-8 offset-2">
                                <select class="form-select" id="addrlist"
                                        name="addrlist" size="10">
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                    <option>서울시 관악구 남부순환로 1820</option>
                                </select>
                            </div>
                        </div> <!-- show zip -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="sendzip">
                        <i class="fas fa-check-square"></i> 선택하고 닫기</button>
                </div>

            </div>
        </div>
    </div> <!-- zipcode modal -->


                </div>
            </div>
        </div>
    </div>
</th:block>
    <script src="/assets/js/modify.js" charset="utf-8"></script>
</th:block>

</html>


