<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">

<div class="main-banner" id="top">

  <div id="main" class="mt-5">
    <div class="row offset-3 col-6">
        <div class="card card-body bg-light col-2 text-center">
          <a href="/member/myboard">게시글</a>
        </div>
        <div class="card card-body bg-light col-2 text-center">
          <a href="#">댓글</a>
        </div>
	      <form class="">
	      <div class="col-5 mt-3">
	        <select class="form-select ">
	          <option>제목</option>
	          <option>내용</option>
	          <option>글쓴이</option>
	          <option>아이디</option>
	          <option>별명</option>
	        </select>
	            <div class="col-5 mt-3">
	              <button type="button" class="btn btn-dark">검색</button>
	          </div>
	      </div>
	      </form>
	    </div>
	</div>
</div>


</th:block>
</html>