<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
  <div class="main-banner" id="top">
      <div id="main">
        <div class="row offset-3 col-6">
          <div class="card card-body bg-light col-2 my-5">
              <img src="/assets/img/default.gif" style="width: 5rem">
              <i href="#">저희 쇼핑몰을 이용해 주셔서 감사합니다. <span style="color: dodgerblue; font-weight: 600">[[${session.member.username}]]</span> 님은 [일반] 회원이십니다.</i>
          </div>
        </div>

          <div class="row offset-3 col-6">
              <div class="card card-body col-2 text-center">
                  <a href="#">MY etc info</a>
              </div>
              <div class="card card-body bg-light col-2 text-center">
                  <a href="order/myorder">My order info</a>
              </div>
          </div>

          <div class="card card-body offset-3 col-6">
            <div class="row offset-2 col-10 my-3">
                <div class="col-5">
                    <th:block th:if="${#strings.isEmpty(session.member)}">
                    <a href="/order/myorder/0">order</a><br>
                    </th:block>
                    <th:block th:if="${not #strings.isEmpty(session.member)}">
                        <a th:href="|/order/myorder/${session.member.mno}|">order</a><br>
                    </th:block>
                    <small>고객님께서 주문하신 상품의<br> 주문내역을 확인하실 수 있습니다.</small>
                </div>
                <div class="col-5">
                    <a href="/member/modify">profile</a><br>
                    <small>회원이신 고객님의 개인정보를<br>관리하는 공간입니다.</small>
                </div>
            </div>
            <div class="row offset-2 col-10 my-3">
                <div class="col-5">
                    <a href="/member/mileage">mileage</a><br>
                    <small>적립금은 상품 구매 시<br>사용하실 수 있습니다.</small>
                </div>
                <div class="col-5">
                    <a href="/notice/list/1">board</a><br>
                    <small>고객님께서 작성하신 게시물을<br>관리하는 공간입니다.</small>
                </div>
            </div>
          </div>
      </div>
  </div>
</th:block>
</html>