<main>
	<!-- 메이저 화폐종목_[S]opilsol-N5 -->
	 <div id="majorSection" class="opilsol-N5" data-bid="UVLRUKY532">
	  <div class="content-container">
	    <div class="container-md">
	      <div class="textset">
	       <!-- <h2 class="textset-tit">Opil Product</h2> -->
	        <p class="textset-desc h5">오늘의 가상화폐 종목</p>
	      </div>
	    </div>
	    <div class="container-md">
	      <div class="slide-container">
	        <div class="swiper-wrapper">
	          <div class="swiper-slide">
	            <a class="cardset cardset-border" href="javascript:void(0);">
	              <figure class="cardset-figure">
					<img class="cardset-img" th:src="@{/images/m-sec1-img-1.jpg}">
	              </figure>
	              <div class="cardset-body">
	                <h5 class="cardset-tit">스포츠센터</h5>
	                <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
	                <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
	              </div>
	            </a>
	          </div>
	          <div class="swiper-slide">
	            <a class="cardset cardset-border" href="javascript:void(0);">
	              <figure class="cardset-figure">
					<img class="cardset-img" th:src="@{/images/m-sec1-img-2.jpg}">
	              </figure>
	              <div class="cardset-body">
	                <h5 class="cardset-tit">공공 체육문화시설</h5>
	                <p class="cardset-desc">소프트웨어를 이용하여 문제를 해결하거나 비즈니스 목적을 달성하기 위한 솔루션소프트웨어를 이용하여 문제를 해결하거나 비즈니스</p>
	                <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
	              </div>
	            </a>
	          </div>
	          <div class="swiper-slide">
	            <a class="cardset cardset-border" href="javascript:void(0);">
	              <figure class="cardset-figure">
					<img class="cardset-img" th:src="@{/images/m-sec1-img-3.jpg}">
	              </figure>
	              <div class="cardset-body">
	                <h5 class="cardset-tit">아파트 커뮤니티</h5>
	                <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
	                <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
	              </div>
	            </a>
	          </div>
	          <div class="swiper-slide">
	            <a class="cardset cardset-border" href="javascript:void(0);">
	              <figure class="cardset-figure">
					<img class="cardset-img" th:src="@{/images/m-sec1-img-4.jpg}">
	              </figure>
	              <div class="cardset-body">
	                <h5 class="cardset-tit">모바일 솔루션</h5>
	                <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
	                <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
	              </div>
	            </a>
	          </div>
	          <div class="swiper-slide">
	            <a class="cardset cardset-border" href="javascript:void(0);">
	              <figure class="cardset-figure">
					<img class="cardset-img" th:src="@{/images/m-sec1-img-1.jpg}">
	              </figure>
	              <div class="cardset-body">
	                <h5 class="cardset-tit">스포츠센터</h5>
	                <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
	                <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
	              </div>
	            </a>
	          </div>
	          <div class="swiper-slide">
	            <a class="cardset cardset-border" href="javascript:void(0);">
	              <figure class="cardset-figure">
					<img class="cardset-img" th:src="@{/images/m-sec1-img-2.jpg}">
	              </figure>
	              <div class="cardset-body">
	                <h5 class="cardset-tit">공공 체육문화시설</h5>
	                <p class="cardset-desc">소프트웨어를 이용하여 문제를 해결하거나 비즈니스 목적을 달성하기 위한 솔루션소프트웨어를 이용하여 문제를 해결하거나 비즈니스</p>
	                <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
	              </div>
	            </a>
	          </div>
	          <div class="swiper-slide">
	            <a class="cardset cardset-border" href="javascript:void(0);">
	              <figure class="cardset-figure">
	                <img class="cardset-img" th:src="@{/images/m-sec1-img-3.jpg}">
	              </figure>
	              <div class="cardset-body">
	                <h5 class="cardset-tit">아파트 커뮤니티</h5>
	                <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
	                <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
	              </div>
	            </a>
	          </div>
	          <div class="swiper-slide">
	            <a class="cardset cardset-border" href="javascript:void(0);">
	              <figure class="cardset-figure">
	                <img class="cardset-img" th:src="@{/images/m-sec1-img-4.jpg}">
	              </figure>
	              <div class="cardset-body">
	                <h5 class="cardset-tit">모바일 솔루션</h5>
	                <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
	                <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
	              </div>
	            </a>
	          </div>
	        </div>
	      </div>
	      <div class="swiper-control">
	        <div class="swiper-button-prev"></div>
	        <div class="swiper-button-next"></div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 메이저 화폐종목_[S]opilsol-N5 -->
	

	
	<!--  My 자산 및 관심종목_[S]opilsol-N8 -->
	<div id="myAssetsSection" class="opilsol-N8" data-bid="FCLrUKY5kw">
	  <div class="container-lg">
	    <div class="content-container">
	      <div class="left">
	        <div class="textset">
	          <h2 class="textset-tit h1 ff-po ms-4">My Page</h2>
	          <p class="textset-desc h6  ms-4 fw-500"> 나의 관심종목과 자산을 확인하세요.</p>
				<div th:if="${#strings.isEmpty(sessUid)}" class="container" style="width: 100%; height: auto;">
					<div style="padding: 5%; width: 100%; background-color: rgb(243, 243, 243); border-radius: 5%;">
						<table>
							<tr>
								<td rowspan="2" width="20%">
									<span data-toggle="tooltip" data-placement="bottom" title="등급별 혜택을 확인해 보세요!">
										<img class="usericons" th:src="@{/icons/man.svg}" alt="유저">
									</span>
								</td>
								<td>
									&nbsp&nbsp<a href="/react/member/premium-grade" class="UserInfoBox_menu-user-spot__main-grade__ceZ7f" data-grade="white">화이트 등급</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									&nbsp&nbsp<strong>남지영 님</strong>
								</td>
								<td>
									<button type="button" class="btn btn-outline-warning">
										로그아웃
									</button>
								</td>
							</tr>
						</table>
						<hr>
						<table class="m-3">
							<thead>
								<tr>
									<th width="30%">
										총 보유자산
									</th>
									<th width="20%">
										<label class="switch-button">
											<input type="checkbox"  id="toggleContent"/>
										    <span class="onoff-switch"></span>
										</label>
									</th>
									<th width="50%" style="text-align: right;">
										자산현황
									</th>
								</tr>
							</thead>
						</table>
						<table class="m-3 ">
							<tbody class="hidden-content">
								<tr>
									<td>
										<span>0</span>
										<span>원</span>
									</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>
										총 평가손익
									</td>
									<td></td>
									<td style="text-align: right;">
										0원
									</td>
								</tr>
								<tr>
									<td>
										총 수익률
									</td>
									<td></td>
									<td style="text-align: right;">
										0.00%
									</td>
								</tr>
							</tbody>
							</table>
							<table class="m-2">
								<tbody id="loginMessage">
									<tr>
										<td>
											'ON'으로 변경하시면,
										</td>
									</tr>
									<tr>
										<td>
											보유자산을 보실 수 있습니다.
										</td>
									</tr>
									<tr>
										<td> &nbsp;</td>
									</tr>
								</tbody>
							</table>
							<button type="button" class="btn btn-warning">원화 입금</button>
							<button type="button" class="btn btn-secondary">가상자산 입금</button>
							<script>
							    document.addEventListener('DOMContentLoaded', function () {
						        // Get the checkbox, the content to toggle, and the login message
						        const toggleCheckbox = document.getElementById('toggleContent');
						        const hiddenContent = document.querySelector('.hidden-content');
						        const loginMessage = document.getElementById('loginMessage');
						
						        // Initial check of the checkbox state
						        hiddenContent.style.display = toggleCheckbox.checked ? 'table-row' : 'none';
						        loginMessage.style.display = toggleCheckbox.checked ? 'none' : 'block';
						
						        // Add event listener to the checkbox
						        toggleCheckbox.addEventListener('change', function () {
						            // Toggle the visibility of the content based on the checkbox state
						            hiddenContent.style.display = this.checked ? 'table-row' : 'none';
						            
						            // Toggle the visibility of the login message based on the checkbox state
						            loginMessage.style.display = this.checked ? 'none' : 'block';
						        });
						    });
							</script>
						</table>
				    </div>
	              <div class="swiper-control">
	                <div class="swiper-button-next"></div>
	                <div class="swiper-button-prev"></div>
	              </div>
	          </div>
	        </div>
	      </div>
	      <div class="right">
	        <div class="slide-container">
	          <div class="swiper-wrapper">
	            <div class="swiper-slide">
	              <a class="link-slide" href="javascript:void(0);">
	                <div class="cardset cardset-border">
	                  <figure class="cardset-figure">
						<img class="cardset-img" th:src="@{/images/m-sec3-img-1.jpg}">
	                  </figure>
	                  <div class="cardset-body">
	                    <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
	                    <p class="cardset-txt">2000-01-01</p>
	                  </div>
	                </div>
	              </a>
	            </div>
	            <div class="swiper-slide">
	              <a class="link-slide" href="javascript:void(0);">
	                <div class="cardset cardset-border">
	                  <figure class="cardset-figure">
	                    <img class="cardset-img" th:src="@{/images/m-sec3-img-2.jpg}">
	                  </figure>
	                  <div class="cardset-body">
	                    <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
	                    <p class="cardset-txt">2000-01-01</p>
	                  </div>
	                </div>
	              </a>
	            </div>
	            <div class="swiper-slide">
	              <a class="link-slide" href="javascript:void(0);">
	                <div class="cardset cardset-border">
	                  <figure class="cardset-figure">
	                    <img class="cardset-img" th:src="@{/images/m-sec3-img-3.jpg}">
	                  </figure>
	                  <div class="cardset-body">
	                    <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
	                    <p class="cardset-txt">2000-01-01</p>
	                  </div>
	                </div>
	              </a>
	            </div>
	            <div class="swiper-slide">
	              <a class="link-slide" href="javascript:void(0);">
	                <div class="cardset cardset-border">
	                  <figure class="cardset-figure">
						<img class="cardset-img" th:src="@{/images/m-sec3-img-1.jpg}">
	                  </figure>
	                  <div class="cardset-body">
	                    <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
	                    <p class="cardset-txt">2000-01-01</p>
	                  </div>
	                </div>
	              </a>
	            </div>
	            <div class="swiper-slide">
	              <a class="link-slide" href="javascript:void(0);">
	                <div class="cardset cardset-border">
	                  <figure class="cardset-figure">
	                    <img class="cardset-img" th:src="@{/images/m-sec3-img-2.jpg}">
	                  </figure>
	                  <div class="cardset-body">
	                    <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
	                    <p class="cardset-txt">2000-01-01</p>
	                  </div>
	                </div>
	              </a>
	            </div>
	            <div class="swiper-slide">
	              <a class="link-slide" href="javascript:void(0);">
	                <div class="cardset cardset-border">
	                  <figure class="cardset-figure">
	                    <img class="cardset-img" th:src="@{/images/m-sec3-img-3.jpg}">
	                  </figure>
	                  <div class="cardset-body">
	                    <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
	                    <p class="cardset-txt">2000-01-01</p>
	                  </div>
	                </div>
	              </a>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- My 자산 및 관심종목_[E]opilsol-N8 -->
	<!-- 가상화폐 현재가 테이블 -->
	<div id="parent-container"></div>
	<!-- 가상화폐 현재가 테이블 -->
	<div th:text="${CurrentPrice}"/> <br/>
  </main>